.field-button {
    &.button {
        text-decoration: none;
        padding: 5px 20px;
        border: 0;
        text-align: center;
    }
    &.button:hover {
        text-decoration: none;
    }
    &.button-pill {
        border-radius: 999px;
    }
    &.button-rectangle {
        border-radius: 0;
    }
    &.button-round-corner {
        border-radius: 5px;
    }

    &.button-solid {}
    &.button-outline {
        background: none !important;
        border: 1px solid;
    }
    &.button-text {
        padding: 0;
    }
}
