@import "./template/index";

/*#website-main-popup {
    position: absolute;
    display: none;
}*/

.popover-header {
    background-color: #5f698f;
    border-bottom: 1px solid #5f698f;
    color: #FFF;
}

.bs-popover-bottom>.arrow::after {
    border-bottom-color: #5f698f;
}

.bs-popover-bottom .popover-header::before {
    border-bottom: 1px solid #5f698f;
}
