//@import "./field/index";

.template-block-gray {
    opacity: .5;
}
.template-block-border {
    position: relative;
    &::before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        cursor: pointer;
        z-index: 100;
    }
    .template-block-title {
        display: none;
        position: absolute;
        left: 2px;
        top: 2px;
        background-color: #068eef;
        border-radius: 3px;
        padding: 0 5px;
        font-size: 13px;
        color: #FFF;
        z-index: 100;
    }
    &.template-block-border-active {
        border: #068eef 2px solid;
    }
    &:hover {
        &::before {
            background-color: rgba(255, 255, 255, 0.3);
            border: #068eef 1px solid;
        }
        .template-block-title {
            display: block;
        }
    }
}
