.sub-menu-list {
  padding: 0 !important;
  .v-list-item {
    cursor: pointer;
    min-height: 33px;
    padding: 0 10px;
  }
}

.tox .tox-notifications-container {
    display: none !important;
}

.tox.tox-silver-sink.tox-tinymce-aux {
    .tox-notifications-container {
        width: 0;
        height: 0;
        overflow: hidden;
        opacity: 0;
    }
}

.cell-field-component {
    margin: 10px 0;
}
