.sub-menu-list {
  padding: 0 !important;
  .v-list-item {
    cursor: pointer;
    min-height: 33px;
    padding: 0 10px;
  }
}

.tox .tox-notifications-container {
    display: none !important;
}

.cell-field-component {
    margin: 10px 0;
}
