.form-constructor {
  .custom-tabs-items {
    overflow: inherit;
  }
  .constructor-tab-body {
    .constructor-container {
      .constructor-row {
        position: relative;

        .row-action {
          display: none;
          position: absolute;
          left: -24px;
          width: 24px;
          z-index: 1;

          .row-actions-list {
            border-radius: 5px 0 0 5px;
            overflow: hidden;

            .action-ico {
              cursor: pointer;
              fill: #FFF;
              margin-bottom: 1px;
              background-color: #333;
              display: block;
              height: 26px;

              &:last-child {
                margin-bottom: 0;
              }

              &:hover {
                background-color: #AAA;
                fill: #000;
              }
            }
          }
        }

        &:hover {
          outline: 1px solid #dee2e6;
          background-color: #F6F6F6;

          .row-action {
            display: block;
          }
        }

        .constructor-col {
          position: relative;

          .cell-action {
            display: none;
            position: absolute;
            top: -27px;
            left: 50%;
            margin-left: -45px;
            height: 30px;
            color: #FFF;

            .cell-actions-list {
              border-radius: 5px 5px 0 0;
              overflow: hidden;
              display: flex;

              .action-ico {
                cursor: pointer;
                fill: #FFF;
                margin-right: 1px;
                background-color: #333;
                display: inline-block;
                width: 26px;
                height: 26px;

                &:last-child {
                  margin-right: 0;
                }

                &:hover {
                  background-color: #AAA;
                  fill: #000;
                }
              }
            }
          }

          &:hover {
            outline: 1px solid #dee2e6;
            background-color: #F6F6F6;

            .cell-action {
              display: block;
            }
          }
        }
      }


    }
  }
}

.element-cover {
    display: inline-block;
    padding: 2px 5px;
    width: 250px;
    &-wrapper {
        border: 1px solid #666;
        background-color: #FFF;
        cursor: grab;
    }
    &-icon {
        text-align: center;
        border: #AAAAAA 1px solid;
        margin: 3px;
    }
    &-name {
        text-align: center;
    }
}

.element-render {
    padding: 2px 5px;
    border: 1px solid transparent;
    position: relative;

    &.active {
        border: 1px solid #0F0;
        background-color: #FFF;
        .element-render-cover {
            display: block;
        }
        .element-render-actions {
            display: block;
        }
    }

    &:hover {
        border-color: red;
        .element-render-cover {
            display: block;
        }
        .element-render-actions {
            display: block;
        }
    }

    &-cover {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.2);
        display: none;
        z-index: 2;
    }
    &-actions {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        display: none;
        text-align: center;
        z-index: 10;
        .action-ico {
            fill: #666;
            cursor: pointer;
            margin: 0 2px;
            padding: 3px 1px;
            background-color: #DDD;
            &:hover {
                fill: #000;
                background-color: #EEE;
            }
            svg {
                height: 20px;
            }
        }
    }
}

.dragging {
    .element-render {
        &:hover {
            border-color: transparent;
            .element-render-cover {
                display: none;
            }
            .element-render-actions {
                display: none;
            }
        }

        &.sortable-chosen {
            border-color: red;
            .element-render-cover {
                display: block;
            }
        }
    }
}

.constructor-field {
    .transition-group {
        display: block;
        min-height: 24px;

        &.cell-empty {
            background-color: #EFEFEF;
        }
    }
}
