.btn-inactive {
    &.v-btn {
        &.v-item--active {
            background-color: transparent;
        }
        &.v-btn--active {
            opacity: .8 !important;
        }

        &.v-btn--icon {
            color: rgba(0,0,0,.54) !important;
        }

        &.v-btn--active:before {
            opacity: 0;
        }
        &.v-btn--active:hover:before {
            opacity: .08;
        }
    }
}

.text-strong {
    font-weight: bold;
}

.text-italic {
    font-style: italic;
}

.text-strike {
    text-decoration: line-through;
}

.text-underline {
    text-decoration: underline;
}

.text-nowrap {
    white-space: nowrap;
}
