.btn-inactive {
    &.v-btn {
        &.v-btn--active {
            opacity: .8 !important;
        }

        &.v-btn--icon {
            color: rgba(0,0,0,.54) !important;
        }

        &.v-btn--active:before {
            opacity: 0;
        }
        &.v-btn--active:hover:before {
            opacity: .08;
        }
    }
}
